.gradle/
.kotlin/
**/build/
local.properties
compile.log
.idea/
*.iml
__pycache__/
*.py[cod]
*.apk
*.zip
*.jks
*.keystore
keystore.properties
signing.properties
key.properties
app/release/mapping.txt
app/release/output-metadata.json
